<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
   
</head>
<body>
    <div class="main-content">
        {{>header}}
    <form>
        <input placeholder="Location">
        <button>Submit</button>
    </form>
    </div>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <script src="/js/main.js"></script>
    {{>footer}}
</body>
</html>